<br><br>

<div class="HomeBlog">
    <p class="titleblog"><%= blogs.Title %></p>
    <div>
        <img src="<%= blogs.imgURL %>" class="blogpicalign">
    </div>
    <div class="Second">
        <p class="datetime"><%= new Date(blogs.DateOfBlog).toDateString() %></p>
        <pre class="Discription"><%= blogs.Discription %></pre>
        <!-- <p>
            <script>document.write(new Date(2021, 11, 25).toDateString())</script>
        </p>
        <p>This is my first blog.</p> -->
        
        <a href="/edit-blog?id=<%= blogs._id %>" class="edit">Edit</a>

        <a href="/index" class="delete" data-id="<%= blogs._id %> ">Delete</a>
    </div>
</div>