<% for(var i=0;i<blogs.length;i++){ %>
<div class="HomeBlog">
    <div>
        <img src="<%= blogs[i].imgURL %>" class="HomeImg">
    </div>
    <div>
        <p class="title"><%= blogs[i].Title %></p>
        <p class="datetime"><%= new Date(blogs[i].DateOfBlog).toDateString() %></p>
        <p class="HomeDiscription"><%= blogs[i].Discription %></p>
        <div>
            
            <!-- <button type="button" class="rdmrpos">
            </button> -->
            <a href="/blog-page?id=<%= blogs[i]._id %>" class="ReadMore"> Read More</a>
        </div>
    </div>
</div>
<% } %>
